/* font-family: 'Libre Franklin', sans-serif;
font-family: 'News Cycle', sans-serif;
font-family: 'Newsreader', serif;
font-family: 'Open Sans', sans-serif; */

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  box-sizing: border-box;
}

.App-header {
  display: flex;
  justify-content: center;
  font-family: 'Newsreader', serif;
  width: 100%;
  margin: 5%;
}

.App-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.home-page-note {
  font-family: 'Libre Franklin', sans-serif;
}

.to-bold {
  font-weight: bold;
}