.detailed-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.detailed-news-article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 5%;
  width: 90%;
}

.detailed-article-title {
  font-family: 'Newsreader', serif;
  font-size: 24px;
  width: 100%;
  text-align: center;
}

.detailed-article-info {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 16px;
  text-align: center;
}

@media screen and (max-width: 700px) {
  img {
    width: 80%;
    height: auto;
  }
}